<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-3 text-center p-b-15 m-t-50">
      <h3>Sign Up</h3>
      <div class="p-l-r-30 p-t-15 p-b-15">
        <div class="form-group">
          <label for="firstname">First name</label>
          <input type="text" class="form-control" name="firstname" id="firstname" [(ngModel)]="userInfo.firstname">
        </div>
        <div class="form-group">
          <label for="lastname">Last name</label>
          <input type="text" class="form-control" name="lastname" id="lastname" [(ngModel)]="userInfo.lastname">
        </div>
        <div class="form-group">
          <label for="city">City</label>
          <input type="text" class="form-control" name="city" id="city" [(ngModel)]="userInfo.city">
        </div>
        <div class="form-group">
          <label for="workplace">Workplace</label>
          <input type="text" class="form-control" name="workplace" id="workplace" [(ngModel)]="userInfo.workplace">
        </div>
        <div class="form-group">
          <p class="alert-danger" *ngIf="error">Email is required or not valid</p>
          <label for="email">E-mail</label>
          <input type="email" class="form-control" name="email" id="email" [(ngModel)]="userInfo.email">
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" name="password" id="password" [(ngModel)]="userInfo.pass">
        </div>
        <button class="btn btn-success" (click)="signUp()">Sign Up</button>
      </div>
      <a [routerLink]="'/login'">Cancel</a>
    </div>
  </div>
</div>
