<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" [routerLink]="'/dashboard'">Onex</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item dropdown" [ngClass]="show ? 'show' : ''">
        <a class="nav-link dropdown-toggle" href="javascript:void(0)"
           id="navbarDropdown" (click)="show = !show">
          Settings
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown" [ngClass]="show ? 'show' : ''">
          <a class="dropdown-item" href="#" (click)="logOut()">Log out</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
