<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-3 text-center p-b-15 m-t-50">
      <h3>Sign in</h3>
      <p class="alert-danger" *ngIf="error">{{errorMessage}}</p>
      <div class="p-l-r-30 p-t-15 p-b-15">
        <div class="form-group">
          <label for="email">E-mail</label>
          <input type="email" class="form-control" name="email" id="email" [(ngModel)]="user.email">
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" name="password" id="password" [(ngModel)]="user.pass">
        </div>
        <button class="btn btn-success" (click)="login()">Sign in</button>
      </div>
      <p class="text-center">If haven`t account, please <a c [routerLink]="'/registration'">Sign Up</a></p>
    </div>
  </div>
</div>
