<div class="container-fluid">
  <div class="row">
    <div class="col-12 p-l-r-0">
      <app-navbar></app-navbar>
    </div>
    <div class="col-12">
      <div class="row justify-content-center">
        <div class="col-4 text-center p-b-15 m-t-50">
          <div class="row">
            <div class="col-12 p-b-15 p-t-15">
              <div class="row">
                <div class="col-6">Firs name</div>
                <div class="col-6">{{user.firstname || ''}}</div>
              </div>
            </div>
            <div class="col-12 p-b-15 p-t-15">
              <div class="row">
                <div class="col-6">Last name</div>
                <div class="col-6">{{user.lastname || ''}}</div>
              </div>
            </div>
            <div class="col-12 p-b-15 p-t-15">
              <div class="row">
                <div class="col-6">City</div>
                <div class="col-6">{{user.city || ''}}</div>
              </div>
            </div>
            <div class="col-12 p-b-15 p-t-15">
              <div class="row">
                <div class="col-6">Workplace</div>
                <div class="col-6">{{user.workplace || ''}}</div>
              </div>
            </div>
            <div class="col-12 p-b-15 p-t-15">
              <div class="row">
                <div class="col-6">E-mail</div>
                <div class="col-6">{{user.email || ''}}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
