<div class="container-fluid">
  <div class="row">
    <div class="col-12 p-l-r-0">
      <app-navbar></app-navbar>
    </div>
    <div class="col-12">
      <div class="row m-r-0">
        <div class="container">
          <table class="table table-striped">
            <thead>
            <tr>
              <th scope="col">First name</th>
              <th scope="col">Last name</th>
              <th scope="col">Email</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let user of pagedItems; let i = index" routerLink="{{'/user/' + user.id}}">
              <td>{{user.firstname || ''}}</td>
              <td>{{user.lastname || ''}}</td>
              <td>{{user.email || ''}}</td>
            </tr>

            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col-12 text-center">
      <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
        <li [ngClass]="{disabled:pager.currentPage === 1}">
          <a (click)="setPage(1)">First</a>
        </li>
        <li [ngClass]=" pager.currentPage === 1 ? 'disabled': ''">
          <a (click)="setPage(pager.currentPage - 1)">Previous</a>
        </li>
        <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
          <a (click)="setPage(page)">{{page}}</a>
        </li>
        <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
          <a (click)="setPage(pager.currentPage + 1)">Next</a>
        </li>
        <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
          <a (click)="setPage(pager.totalPages)">Last</a>
        </li>
      </ul>
    </div>
  </div>
</div>
