.pagination {
  display: flex;
  justify-content: space-around;
  padding: 0;
  list-style: none;
  max-width: 500px;
  margin: 0 auto;
}

.pagination > li {
  display: inline-block;
  cursor: pointer;
  width: 20px;
  height: 25px;
}

.active {
  background: #5dba2f;
  color: white;
}

.disabled {
  opacity: .5;
}
