/* You can add global styles to this file, and also import other style files */
body {
  font-family: Helve !important;
}

td {
  cursor: pointer;
}

.no-padding {
  padding: 0px !important;
}

.m-t-50 {
  margin-top: 50px;
  border: solid 1px #cec;
  padding: 0px !important;
  border-radius: 8px;
  box-shadow: 0px 2px 5px 0.25px;
}

.p-l-r-0 {
  padding-right: 0 !important;
  padding-left: 0 !important;
}

.p-l-r-30 {
  padding-left: 30px;
  padding-right: 30px;
}

.p-t-15 {
  padding-top: 15px !important;
}

.p-b-15 {
  padding-bottom: 15px !important;
}

.m-r-0 {
  margin-right: 0 !important;
}
